*{
		margin: 0;
		padding:0
}
@font-face
{
	font-family: "Chalet";
	src: url("../fonts/Chalet.woff");
	src: url("../fonts/Chalet.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/Chalet.woff") format("woff"),
	     url("../fonts/Chalet.ttf") format("truetype"),
		 url("../fonts/Chalet.svg#Chalet") format("svg"),
}

body
{ 
	background: #212121 url(../img/fondo.jpg);
	color: #FFF;
	font-family:"Chalet", Helvetica,Verdana;
	font-size: 2em;
	
}

h1
{
	color:#F60;
	margin: 0.25em auto;
	text-align:center;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
}
header,nav,footer
{
	background:#1E6381;
	border-radius: 0.5em;
	margin:0.5em auto;
	max-width:960px; 
	padding:0.1em;
	text-align:center;
}
section#contenedor
{	
	/*para hacer evdente el section contenedor colocamos un color background:#FFF;*/
	margin:0.5em auto;
	max-width:960px;
	padding:0;
	text-align: center;
}
section#principal,aside
{
	background:#1E6381;
	border-radius: 0.5em;
    display: inline-block;
	margin: 0.25em auto;
	max-width:960px;
	min-height: 200px;
	padding:0.25em;
	text-align:center;
	
	width: 65%;
}
article
{
	background:#011E30;
	border-radius: 0.5em;
	min-height: 140px;
	padding:0.25em;
}
aside
{
	width: 30%
}
