/*reseteo universal*/
*{
	border:0;
	margin:0;
	padding:0;
	
}
article,figcaption,figure,footer,header,hgroup,nav,section{
	display:block;
}
/*estilos del sitio*/
@font-face
{
	font-family: "Chalet";
	src: url("../fonts/Chalet.woff");
	src: url("../fonts/Chalet.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/Chalet.woff") format("woff"),
	     url("../fonts/Chalet.ttf") format("truetype"),
		 url("../fonts/Chalet.svg#Chalet") format("svg");
	font-weight:normal;
	font-style:normal;	 
}
@font-face
{
	font-family: "Pecita";
	src: url("../fonts/Pecita.woff");
	src: url("../fonts/Pecita.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/Pecita.woff") format("woff"),
	     url("../fonts/Pecita.ttf") format("truetype"),
		 url("../fonts/Pecita.svg#Pecita") format("svg");
	font-weight:normal;
	font-style:normal;
}
body
{
	background:#2DC0E1 url(../img/fondo.jpg);
	color:#FFF;
	font-family:"Chalet",Verdana,Helvetica;
	font-size:1em;
	
}
a
{
	color:#57ABB8;
	font-weight:bold;
	text-decoration:none; /*se le quitan las lineas a los enlaces*/
}
a:hover{/*el estado hover permite que cuando pase el mause por el enlace cambie en este caso a naranja*/
	color:#F60;
}
audio,iframe,img ,video /*con el atributo max-width logramos la flexibilidad en objetos e imagenes la segunda buena practica en el diseño web sensible*/
{
	max-width:100%;
}
fieldset /*es la linea naranja en la tabla de contacto*/
{
	border:.1em solid#F60;
	border-radius:.5em;
	text-align:center;
}

figcaption/*en la parte del aside tenemos una figura entonces el figcaption tendra*/
{

	font-size:0.85em;
	padding:0.25em;
	text-align:center;
}
form
{
	width:100%;
}
form div
{
	margin:.5em;
	
	
}
h2, h3
{
	color:#F90;
	font-family:"Pecita", Helvetica, Verdana;
	
}
h2
{
	text-shadow:5px 5px 10px rgba(255,255,255,.7);	
}
h3
{
	background:#E2E7F1;
	border-radius:1em;
	box-shadow:0.25em 0.25em 0.25em rgba(255,153,0,0.5);
	margin-bottom:0.5em;
	padding-left:0.5em;
}
hr
{
	border:1px dashed #FFF;
	margin: 1em 0;
}
iframe
{
	border-radius:.5em;
}
input[type="email"],[type="text"],textarea
{
	background:#EEE;
	border-radius:.25em;
	color:#F60;
	font-size:1em;
	padding:.25em;
	width:95%;
}
input[type="email"]:focus,[type="text"]:focus,textarea:focus /*cuando cada elemento tiene el foco de la pagina van a tener estos nuevos atributos */
{
	background:#C6ECF9;
}
input[type="submit"]
{
	background:#F90;
	border-radius:0 0.25em;/*aqui trabajamos en parejas la primer pareja es de 0 bordes normales y la segunda pareja bordes curvos para el boton enviar*/
	color:#500;
	font-family:"Chalet";
	font-size:1.25em;
	padding:.25em;
}
input[type="submit"]:hover/*cuando los input de tipo submit esten en el estado hover,cambiales a los siguientes atributos*/
{
	background:#7BBFD5;
	border-radius:0.25em 0;
	color:#000;
	cursor:pointer;
}
label
{
	cursor:pointer;
}
legend
{
	color:#F90;
	font-size:1.2em;
	font-weight:bold;/*color negrita*/
}

ol
{
	padding: 0 2em;
}
ol li
{
	padding:1em 0; 
}
textarea
{
	resize:none;/*esto para que el usuario no juegue con el tamaño de area de texto de los comentarios, de esta manera no se podra redimencionar*/
}

header,section#contenido,footer
{
	background:#FFF url(../img/fondo-interno.jpg);
	margin: 0 auto;
	max-width: 90%;
	text-align: center;
}
header h1,nav
{
	display:inline-block; /*para que los dos convivan a la misma altura*/
	max-width:100%;
	vertical-align:middle; /*a la mitad con el objeto que comparte el ancho, si le coloco top el menu se sube */
}
nav ul
{
	list-style:none;
}
nav li
{
	display:inline-block;
	padding:0.1em;
	vertical-align:top;
	/*-ms-transform: rotate(350deg); para rotar los elementos del navegador que estan en la etiqueta li osea "inicio","acerca"..etc/ si quiero qu giren hacia el otro lado le coloco el - en 350*/
	/*-moz-transform: rotate(350deg);*/
	/*-o-transform: rotate(350deg);*/
	/*-webkit-transform: rotate(350deg);*/
	/*transform: rotate(350deg);*/
}
nav a
{
	background:#FFF;
	border:0.1em solid #57ABB8 ; /*da el */
	border-radius:0.25em;/*ek border radius hace que los bordes se curven*/
	color:#F60;
	display:block;/*disposicion en bloque para los enlaces, debido a que su naturaleza es en linea*/
	font-family:"Pecita", Helvetica, Verdana;
	font-size:1.4em;
	padding:0.2em;
	transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	/*transition necesitan 3 atributos que tipo vas a trbajar:
	puede ser de color,movimiento sobre x o y,de forma, ahora vamos a decirle que 
	a todas las propiedades con all,luego el tiempo, luego el efecto con el que vas a trabajar*/
	
	
}

nav a:hover
{
	background:#212121;
	border:0.1em dashed #F60;
	border-radius:0 0.5em 0 0.5em;/*para darle estio a los bordes del menu*/
	color:#FFF;
	transition: all 0.5s ease-out;/*aceleracion final del efecto*/
	-ms-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}
section#principal,aside
{
	background:#1E6381;
	border-radius:0.5em;
	display:inline-block;
	margin:0 auto;
	max-width:100%;
	padding:0.25em;
	vertical-align:top;
	width:65%;
}
article
{
	color:#FFF;
	border-radius:05em;
	margin:0.5em;
	padding:0.5em;
	text-align:left;
	width:95%
}

aside
{
	width:30%;
}
aside img, #img-acerca img, #video-acerca, #img-servicios
{
	border-radius:0.5em;
}
article#descripcion-acerca, article#multimedia-acerca
{
	background:#1E6381;
	border-radius:0.5em;/*bordes redondeados de 0.5 em*/
	display:inline-block;/*hace  que compartan el mismo ancho en linea*/
	margin:0 auto;
	max-width:100%;/*van a ocupar el ancho maximo del section del 100 %*/
	min-height:543px;
	padding:0.5em;
	text-align:justify;
	vertical-align:top;/*como comparten el mismo espacio hace que los nivelen a la misma altura */
	width:55%;
}
article#multimedia-acerca
{
	text-align:center;
	width:40%;
}
section#servicios-principal, section#servicios-tipos
{
	margin:0 auto;
	max-width:95%;
}
#img-servicios, article#nuestros-servicios
{
	display:inline-block;
	margin:1em auto;
	vertical-align:top;
	width:40%;
}

article#nuestros-servicios, article#servicio1, article#servicio2, article#servicio3
{
	background:#1E6381;
	border-radius:0.5em;
	max-width:100%;
	min-height:300px;
	padding:0.5em;
	text-align:justify;
	width:55%;
}
article#servicio1, article#servicio2, article#servicio3
{
	background:#011E30;
	display:inline-block;
	width:30%;
	vertical-align:top;
}
section#trabajos 
{
	background:#011E30;
	border-radius:0.5em;
	margin:0 auto; /*margen de 0 arriba y abajo, utomantico a los lados para que se centre*/
	max-width:80%;
	padding:0.5em;/*la distancia entre el borde y su contenido*/
	text-align:center;
}
div.portafolio
{
	margin:1em auto;
}
div.portafolio article
{
	display:inline;
	padding:1em;
}
section#contacto, section#mapa
{
	background:#011E30;
	border-radius:0.5em;
	display:inline-block; 
	margin:0 auto;
	min-height:350px;
	padding:0.5em;
	text-align:justify;
	vertical-align:top;
	width:45%;
}


article#info-contacto,article#contactanos
{
	border:.1em solid #1E6381;
	border-radius:0.5em;
	margin:0.5em;
	min-height:144px;
	padding:0.5em;
}
footer
{
	color:#000;
	font-size:0.85em;
	padding:0.75em 0;
}
article#servicio1 div, article#servicio2
{
	text-align:center;
}


.fade
{
	opacity:1;/*que sería el 100% osea cuando la clase fadeesta normal osea no hemos pasado el mause sobre ello*/
	filter:alpha(opacity=10)/*para que el internet explorer pueda interpretar bien esta propiedad de opacity*/
	transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;

}
.fade:hover
{
	opacity:0.7;/*70%*/
	filter:alpha(opacity=7)
	transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	
}
.redonda/*1 em equivale a 16 pixeles, lo que necesito en esta clase redonda para volver las imagenes circulares, en este caso 
cada imagen es de 100px por 100px lo que hago para sacar la sifra exacta es tomar el 50% de 100px y dividirlo por 
lo que equivale a 1em que seria 16 px 50/16=3.125em que seria el border radius final*/
{
	border-radius:3.125em;
	box-shadow:5px 5px 10px rgba(255,255,255,.7);
	
}
@media(min-width:1081px)/*las medi Query son como condicionales en css3*/
{
	header h1
	{
		text-align:left;
		width:35%;
	}
	nav 
	{
		text-align:right;
		width:60%;
		}
}
@media(max-width:1080px)/*las medi Query son como condicionales en css3*/
{
	nav li
	{
		font-size:1.3em;
	}
	article#galeria-inicio
	{
		
		width:90%;
	}
	aside
	{
		width:20%;
	}
	article#descripcion-acerca, article#multimedia-acerca,#img-servicios,article#nuestros-servicios
	{
		width:45%;
	}
	article#servicio1, article#servicio2, article#servicio3
	{
		
		width:90%;
	}
	section#trabajos
	{
		max-width:90%;
		
	}
	div.portafolio article
	{
		padding:.5em; 
	}
	
	form
	{
		width:95%;
	}
}

@media (max-width:800px)
{
	nav li
	{
		font-size:0.95em;
	}
	article#galeria-inicio
	{
		width:88%;
	}
	#img-servicios, article#nuestros-servicios, article#servicio1
	{
		display:block;
		margin:0 0 0.30em 0;/*margen de 0 arriba, a la derecha y a la izquierda y solo un 0.25em abajo*/
		width:95%;
	}
	#img-servicios
	{
		width:100%;
	}
	article#servicio2, article#servicio3
	{
		display:block;
		margin:0 0 0.30em 0;
		width:95%;
	}
	article#servicio3
	{
		margin:0;
	}
	section#trabajos
	{
		max-width:95%;
	}
	div´.portafolio article
	{
		padding:2em;
	}
	section#contacto,section#mapa
	{
		display:block;
		width: 95%;
	}
	section#contacto
	{
		margin-bottom:.2em;
	}
	form
	{
		width:100%;
	}
}
@media(max-width:600px)/*ancho para tablets, smartphones*/
{
	nav li
	{
		display: inline-block;
		margin:0px;
		width:98%;
	}
	section#principal,article#descripcion-acerca
	{
		margin-bottom:0.2em;/*para que no se quede pegados dos campos el aside y el article, espacio entre contenedores*/
	}
	im
	section#principal,aside, article#descripcion-acerca, article#multimedia-acerca
	{
		display:block;
		width:95%;
	}
		div.portafolio article /*cuando el tamaño sea menos que 600 se van a ver en bloque osea una detras de la otra*/
	{
		display:block;
		margin: .5em auto;
		padding:0;
	}
	
}
























